doctype html
html(lang="en")
  head
    meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" )
    meta( name="apple-mobile-web-app-capable" content="yes" )
    meta( name="apple-mobile-web-app-status-bar-style" content="black-translucent" )
    meta( name="apple-mobile-web-app-title" content="Something" )
    link( rel="apple-touch-icon" href="../assets/icon/touch-icon-iphone.png" )
    link( rel="apple-touch-icon" sizes="76x76" href="/icon/touch-icon-ipad.png" )
    link( rel="apple-touch-icon" sizes="120x120" href="/icon/touch-icon-iphone-retina.png" )
    link( rel="apple-touch-icon" sizes="152x152" href="/icon/touch-icon-ipad-retina.png" )
    style
      include ../assets/css/app.css
      
  body
    //#topBar
    #loading
      span Loading...
    #searchbar
      form(id="searchform" action="/search" method="GET" enctype="application/x-www-form-urlencoded")
        label(for="search") Find by:
        select(id="findby" name="findby")
          option(value="ssid") Wireless Address
          option(value="mac") Mac Address
          option(value="host") Device Name
        input(type="text" id="search" name="searchfor" placeholder="macaddress, hostname or wireless network name")
        input(type="submit" value="Search")

    #victims
      - var dataIsEmpty = data.length === 0 ? true : false
      if (!dataIsEmpty)
        each victim in data
          - var empty = victim.probeRequests.length === 0 ? true : false
          if (!empty)
            section(id=victim._id)
              header
                if victim.hostName
                  h2 #{victim.hostName}
                    span ,
                else
                  h2 Someone
                    span ,

                - var a = moment(victim.lastSeen)
                - var b = moment(victim.firstSeen)
                - var diff = a.diff(b)
                h3='Known for '+ moment.duration(diff).humanize() +' '
              
              main
                ul
                  - var date = new Date()
                  - var today = new Date(date.getFullYear(), date.getMonth(), date.getDate())
                  each probe in victim.probeRequests
                    if probe.ssid && probe.date > today
                      - var on = moment(probe.date).format("dddd, MMMM Do")
                      - var from = moment(probe.date).from(new Date()); 
                      - var at = moment(probe.date).format("dddd, MMMM Do")
                      - var ssid = probe.ssid.name ? probe.ssid.name : 'Something'
                      - var line = from +' searched for '+ ssid 
                      li #{line}
      else
        #nothingfound Wait for it...

    script(src='/socket.io/socket.io.js')
    script(type='text/javascript')
      include ../assets/js/libs/jquery/dist/jquery.min.js
    script(type='text/javascript')
      include ../assets/js/libs/jquery-form/jquery.form.js
    script(type='text/javascript')
      include ../assets/js/app.js


      