doctype html
html(lang="en")
  head
    meta( name="viewport" content="width=device-width,initial-scale=1" )
    meta( name="apple-mobile-web-app-capable" content="yes" )
    meta( name="apple-mobile-web-app-status-bar-style" content="black-translucent" )
    style
      include ../assets/css/app.css
      
  body
    #topBar
    #loading
      span Loading...
    #victims
      each victim in data
        if victim.probeRequests
          section(id=victim._id class="waypoint")
            header
              if victim.hostName
                h2 #{victim.hostName}
              else
                h2 Someone

              - var a = moment(victim.lastSeen)
              - var b = moment(victim.firstSeen)
              - var diff = a.diff(b)
              h3='Known for '+ moment.duration(diff).humanize() +' '
            
            main
              ul
                each probe in victim.probeRequests
                  if probe.ssid
                    - var on = moment(probe.date).format("DD-MM-YY HH:MM:SS")
                    - var ssid = probe.ssid.name ? probe.ssid.name : 'Something'
                    - var line = 'On '+ on +' Searched for '+ ssid 
                    li #{line}
                     
    // socket io
    script(src='/socket.io/socket.io.js')
    // jquery
    script(type='text/javascript')
      include ../assets/js/libs/jquery/dist/jquery.min.js
    // waypoints
    //script(type='text/javascript')
    //  include ../assets/js/libs/waypoints/lib/jquery.waypoints.min.js
    // waypoints shortcup sticky
    //script(type='text/javascript')
    //  include ../assets/js/libs/waypoints/lib/shortcuts/sticky.min.js
    // main app
    script(type='text/javascript')
      include ../assets/js/app.js